<p style="font-size:30px;">Imports</p>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("bmh")
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_absolute_error
import seaborn as sns
import plotly.express as px

<p style="font-size:30px;">read full data from excel in 5 rows</p>

In [2]:
df = pd.read_excel("./Data/Volve production data.xlsx")
df.head()          #It is used to show the beginning lines

,DATEPRD,WELL_BORE_CODE,NPD_WELL_BORE_CODE,NPD_WELL_BORE_NAME,NPD_FIELD_CODE,NPD_FIELD_NAME,NPD_FACILITY_CODE,NPD_FACILITY_NAME,ON_STREAM_HRS,AVG_DOWNHOLE_PRESSURE,...,AVG_CHOKE_UOM,AVG_WHP_P,AVG_WHT_P,DP_CHOKE_SIZE,BORE_OIL_VOL,BORE_GAS_VOL,BORE_WAT_VOL,BORE_WI_VOL,FLOW_KIND,WELL_TYPE
0,2014-04-07,NO 15/9-F-1 C,7405,15/9-F-1 C,3420717,VOLVE,369304,MÆRSK INSPIRER,0.0,0.00000,...,%,0.00000,0.00000,0.00000,0.0,0.0,0.0,NaN,production,WI
1,2014-04-08,NO 15/9-F-1 C,7405,15/9-F-1 C,3420717,VOLVE,369304,MÆRSK INSPIRER,0.0,NaN,...,%,0.00000,0.00000,0.00000,0.0,0.0,0.0,NaN,production,OP
2,2014-04-09,NO 15/9-F-1 C,7405,15/9-F-1 C,3420717,VOLVE,369304,MÆRSK INSPIRER,0.0,NaN,...,%,0.00000,0.00000,0.00000,0.0,0.0,0.0,NaN,production,OP
3,2014-04-10,NO 15/9-F-1 C,7405,15/9-F-1 C,3420717,VOLVE,369304,MÆRSK INSPIRER,0.0,NaN,...,%,0.00000,0.00000,0.00000,0.0,0.0,0.0,NaN,production,OP
4,2014-04-11,NO 15/9-F-1 C,7405,15/9-F-1 C,3420717,VOLVE,369304,MÆRSK INSPIRER,0.0,310.37614,...,%,33.09788,10.47992,33.07195,0.0,0.0,0.0,NaN,production,OP

In [ ]:
df.info()

In [ ]:
A= sns.heatmap(df.isnull(),yticklabels=False,cbar=False,cmap='viridis')
plt.xticks(rotation = 45, ha = 'right')

In [ ]:
# to get the type of well available (either Injector WI or producer OP)
df['WELL_TYPE'].unique()

In [ ]:
df['NPD_WELL_BORE_CODE'].unique()
# this returns all the unique well codes, Here we see that there are total of 7 unique wells

In [ ]:
# let us filter only the producing well data which have well type as OP 
df[df['WELL_TYPE'] == 'OP']['NPD_WELL_BORE_CODE'].unique()

In [ ]:
#let us create a filtered/cleaned dataframe and store only the data for producer type wells for our anaysis
df_filtered =df[df['WELL_TYPE'] == 'OP']

In [ ]:
# the dataframe has many columns that are not useful for our analysis
# droping all these column in our filtered dataframe as these are not useful for our study
df_filtered.drop(labels=['WELL_BORE_CODE',
                         'NPD_WELL_BORE_NAME',
                         'NPD_FIELD_CODE',
                         'NPD_FIELD_NAME',
                         'NPD_FACILITY_CODE',
                         'NPD_FACILITY_NAME',
                        'AVG_CHOKE_UOM',
                        'FLOW_KIND',
                        'WELL_TYPE'], axis=1)

In [ ]:
# After droping unuseful columns, we can again plot a heatmap plot to visualize null data in our dataframe
sns.heatmap(df_filtered.isnull(),yticklabels=False,cbar=False,cmap='viridis')
plt.xticks(rotation = 45, ha = 'right')

In [ ]:
df_filtered['NPD_WELL_BORE_CODE'].value_counts()
# counts number of data available for each well id

In [ ]:
#from the seaborn library , we can use the Empirical Cumulative Distribution Function , and plot the oil production from all those wells having code as producers 

sns.ecdfplot(x='BORE_OIL_VOL',data=df_filtered, hue='NPD_WELL_BORE_CODE',palette=['r', 'g', 'b', 'y', 'brown', 'magenta'])

plt.show()

In [ ]:
# Another Scatter plot to show the oil production from these producer wells. Clearly the wells #7405, # 5769, #7289 production volume is insignificant
# df_filtered["NPD_WELL_BORE_CODE"] = df_filtered["NPD_WELL_BORE_CODE"].astype(str)
fig = px.scatter(df_filtered, x="DATEPRD", y="BORE_OIL_VOL",
                 color="NPD_WELL_BORE_CODE",
                 hover_name="NPD_WELL_BORE_CODE")
fig